* {
    margin: 0;
    padding: 0;
    border: 0;
    font: 10pt Andale Mono, Lucida Console, Monaco, Courier New, Courier, fixed, monospace;

}
body { 
    background: #c1c1c1;
}

.cell {
    border: 0;
    background: #ffffff;
    width: 1em;
    text-align: center;    
}
#pcx {
    width: 2em;
}

.cell_hilight {
    border: 0;
    background: #ff0000;
    width: 1em;
    text-align: center;    
}
.cell:focus {
    background: #f0f0f0;
}

.cell_hilight:focus {
    background: #fff0f0;
}